<footer class="bg-light theme1 position-relative">
    <div class="footer-bottom pt-80 pb-30" style=" background-color: #343a40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                    <img src="https://rojashop.com/assets/rojashop/images/instagram-color.png" />
                    <p style="color: white; text-align:center">
                        مجموعه فروشگاه های روژا با بیش از 25 سال سابقه در ارائه محصولات با کيفيت ، مرغوب و با اصالت از برندهای معتبر جهانی مشغول به فعاليت است.
                    </p>
                    <p style="color: white; text-align:center">
                        تلفن پشتیبانی : 0910000000
                        <br> ایمیل پشتیبانی : m.abbasi899@gmail.com
                        <br>
                        <div class="social-network text-center" style="font-size:30px;">
                            <a href="#" style="color: white;">
                                <i class="fab fa-twitter-square">
                                </i>
                            </a>
                            <a href="#" style="color: white;">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a href="#" style="color: white;">
                                <i class="fab fa-facebook-square">
                                </i>
                            </a>
                            <a href="#" style="color: white;">
                                <i class="fab fa-youtube-square">
                                </i>
                            </a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>