
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home page";
}
<body dir="rtl">
    <div id="offcanvas-mobile-menu" class="offcanvas theme1 offcanvas-mobile-menu">
        <div class="inner">
            <button class="offcanvas-close">×</button>
            <nav class="offcanvas-menu">
                <ul>
                    <li>
                        <a href="#"><span class="menu-text">خانه</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="menu-text">دسته بندی محصولات</span></a>
                        <ul class="offcanvas-submenu">
                            <li>
                                <a href="#"><span class="menu-text">عطر</span></a>
                                <ul class="offcanvas-submenu">
                                    <li>
                                        <a href="shop-grid-3-column.html" class="text">عطر مردانه</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-4-column.html" class="text">عطر زنانه</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-left-sidebar.html" class="text">عطر بچگانه</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="offcanvas-submenu">
                            <li>
                                <a href="#"><span class="menu-text">لوازم بهداشتی</span></a>
                                <ul class="offcanvas-submenu">
                                    <a href="#"><span class="menu-text">مراقبت از پوست</span></a>
                                    <li>
                                        <a href="shop-grid-3-column.html" class="text">کرم روز</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-4-column.html" class="text"> کرم شب</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-left-sidebar.html" class="text">کرم دور چشم</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-left-sidebar.html" class="text">کرم ضد چروک</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-left-sidebar.html" class="text">کرم ضد لک</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="offcanvas-submenu">
                            <li>
                                <a href="#"><span class="menu-text">لوازم آرایشی</span></a>
                                <ul class="offcanvas-submenu">
                                    <a href="#"><span class="menu-text"> آرایش صورت</span></a>
                                    <li>
                                        <a href="shop-grid-3-column.html" class="text">کرم پودر</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-4-column.html" class="text">پرایمر صورت</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-left-sidebar.html" class="text"> پودر صورت(پنکیک)</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-left-sidebar.html" class="text">  برنزه کننده </a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-left-sidebar.html" class="text"> رژگونه</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-text1" href="contact.html">درباره فروشگاه</a></li>
                    <li><a class="menu-text1" href="contact.html">تماس با ما</a></li>
                </ul>
            </nav>
            <div class="social-network text-center" style="font-size:30px;">
                <a href="#">
                    <i class="fab fa-twitter-square">
                    </i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram">
                    </i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-square">
                    </i>
                </a>
                <a href="#">
                    <i class="fab fa-youtube-square">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <header>
        <!--Navbar-->
        <div id="home" class="header-middle">
            <div class="container position-relative ">
                <div class="row align-items-center">
                    <div class="col-6 col-lg-2 col-xl-2">
                        <div class="logo">
                            <img src="D:\Test\MySite\images\logo\RojaLogo.png" alt="لوگو روژا">
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 d-none d-lg-block  ">
                        <ul class="main-menu d-flex">
                            <li class="nav-item active">
                                <a class="nav-link" href="#" style="text-decoration: none;font-size:18px;color: rgb(32, 156, 32);">خانه</a>
                            </li>
                            <li class="position-static" dir="rtl">
                                <a href="#">دسته بندی محصولات<i class="ion-ios-arrow-down"></i></a>
                                <ul class="mega-menu row" style="width:800px" ;>
                                    <li class="col-3">
                                        <ul>
                                            <a class="dropdown-item" href="#">
                                                <p class="tite-category">عطر</p>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#"><p class="tite-child-category">عطر مردانه</p></a>
                                                <a class="dropdown-item" href="#"><p class="tite-child-category">عطر زنانه</p></a>
                                                <a class="dropdown-item" href="#"><p class="tite-child-category">عطر بچگانه</p></a>
                                            </a>
                                        </ul>
                                    </li>
                                    <li class="col-3">
                                        <ul>
                                            <a class="dropdown-item" href="#">
                                                <p class="tite-category">لوازم بهداشتی</p>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                    <p class="tite-category">مراقبت از پوست</p>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">کرم روز</p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">کرم شب </p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">کرم دور چشم</p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">کرم ضد چروک </p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">کرم ضد لک</p></a>
                                                </a>
                                        </ul>
                                    </li>
                                    <li class="col-3">
                                        <ul>
                                            <a class="dropdown-item" href="#">
                                                <p class="tite-category">لوازم آرایشی</p>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                    <p class="tite-category"> آرایش صورت </p>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">کرم پودر</p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category"> پرایمر صورت </p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">  پودر صورت(پنکیک)</p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">  برنزه کننده </p></a>
                                                    <a class="dropdown-item" href="#"><p class="tite-child-category">رژگونه</p></a>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" href="#" style="text-decoration: none;">درباره فروشگاه </a>
                            </li>
                            <li><a href="#">تماس  ما</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 col-xl-2">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="cart-block-links theme1 d-none d-sm-block">
                                <ul class="d-flex">
                                    <a class="nav-link " href="#" style="color:rgb(175, 91, 91);text-decoration: none;font-size: 18px">ورود و ثبت نام <img src="D:\Test\MySite\images\logo\User.png" style="margin-top:-3px;" /></a>
                                </ul>
                            </div>
                            <!--button for mobail-->
                            <div class="mobile-menu-toggle theme1 d-lg-none">
                                <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                                    <svg viewbox="0 0 700 550">
                                        <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                              id="top"></path>
                                        <path d="M300,320 L540,320" id="middle"></path>
                                        <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                              id="bottom"
                                              transform="translate(480, 320) scale(1, -1) translate(-480, -318)"></path>
                                    </svg>
                                </a>
                            </div>
                            <!--Endbutton for mobail-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--EndNavbar-->
    </header>
    <!--Slider -->
    <section class="Slide-bar">
        <div class="home-wrap">
            <id id="carouselExampleControls" class="carousel slide container " data-ride="carousel" style="margin-top: 10px;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="D:\Test\MySite\images\logo\pic4.jpg" width="150px" height="400px" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="D:\Test\MySite\images\logo\pic5.jpg" width="150px" height="400px" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="D:\Test\MySite\images\logo\pic6.jpg" width="150px" height="400px" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="D:\Test\MySite\images\logo\pic7.jpg" width="150px" height="400px" alt="Third slide">
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </id>
        </div>
    </section>
    <!--EndSlider-->
    <!--SearchBox-->
    <section class="static-media-section theme-bg py-45">
        <div class="container">
            <div class="static-media-wrap p-2">
                <div class="mb-3 row">
                    <form action="#" class="search" data-animation="pulse" data-delay=".8s" style="animation-delay: 0.8s;">
                        <div class="input-form" style="display: flex;">
                            <div class="col-sm-7">
                                <input type="search" class="form-control" id="" placeholder="جستجو براسای نام محصول">
                            </div>
                            <button type="button" class="btn btn-outline-secondary">جستجو</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--EndSearchBox-->
    <!--BoxGallery-->
    <section class="service-section pt-80 pb-50" style="background-color: rgb(214, 213, 213);">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="single-gallery">
                        <div class="single-pic mb-25 zoom-in d-block overflow-hidden">
                            <img src="D:\Test\MySite\images\logo\pic1.jpg" alt="عکس شماره1" />
                        </div>
                        <div class="single-button">
                            <button class="btn btn-info">برای مشاهده نظرات کلیک کیند</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="single-gallery">
                        <div class="single-pic mb-20 zoom-in d-block overflow-hidden">
                            <img src="D:\Test\MySite\images\logo\pic2.jpg" alt="عکس شماره2" />
                        </div>
                        <div class="single-button">
                            <button class="btn btn-info">برای مشاهده نظرات کلیک کیند</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="single-gallery">
                        <div class="single-pic mb-20 zoom-in d-block overflow-hidden">
                            <img src="D:\Test\MySite\images\logo\pic3.jpg" alt="عکس شماره3" />
                        </div>
                        <div class="single-button">
                            <button class="btn btn-info"><span>برای مشاهده نظرات کلیک کیند</span></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>